<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  
  <system.webServer>
      <httpProtocol>
          <customHeaders>
              <add name="Access-Control-Allow-Origin" value="*" />
            <add name="Access-Control-Allow-Headers" value="Content-Type" />
          </customHeaders>
      </httpProtocol>
  </system.webServer>
  
  
  
  <system.serviceModel>

    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingWithJsonP"
                 crossDomainScriptAccessEnabled="true" transferMode="Streamed" closeTimeout="04:01:00"
     openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00" maxBufferSize="5242880" maxBufferPoolSize="5242880"
                 maxReceivedMessageSize="5242880">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding> 
      </webHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="EndpBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    
    <!--<bindings> 
      <basicHttpBinding> 
        <binding name="IncreasedTime" sendTimeout="00:05:00" receiveTimeout="00:05:00"> </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="IncreasedTime" sendTimeout="00:05:00" receiveTimeout="00:05:00"></binding>
      </webHttpBinding>
    </bindings>-->

    <services>
      <service name="ServicioChat.WebChat">
        <endpoint address="soap" binding="basicHttpBinding" contract="ServicioChat.IWebChat"/>
        <endpoint address="" binding="webHttpBinding" contract="ServicioChat.IWebChat" behaviorConfiguration="EndpBehavior" bindingConfiguration="webHttpBindingWithJsonP"/>
      </service>
    </services>
    
    
    
    
  </system.serviceModel>
  
  
  
  
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
