<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWebChat" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://cgonzalez7684-001-site6.ctempurl.com/chatCoopecaja.svc/soap"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebChat"
        contract="ServicioChat.IWebChat" name="BasicHttpBinding_IWebChat" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="chatEntidad" connectionString="metadata=res://*/ChatModel.csdl|res://*/ChatModel.ssdl|res://*/ChatModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=COOPE-TI25\SQLEXPRESS;initial catalog=chat;user id=ChatCoopecaja;password=Coopecaja1;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="App.Properties.Settings.ConnectionString" connectionString="Data Source=COOPE-TI25\SQLEXPRESS;Persist Security Info=True;User ID=ChatCoopecaja;Password=Coopecaja1"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>