<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>

    

    
    
    
  </system.web>
  
  <system.webServer>
      <httpProtocol>
          <customHeaders>
              <add name="Access-Control-Allow-Origin" value="*" />
            <add name="Access-Control-Allow-Headers" value="Content-Type" />
          </customHeaders>
      </httpProtocol>
  </system.webServer>
  
  
  
  <system.serviceModel>

    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingWithJsonP"
                 crossDomainScriptAccessEnabled="False" transferMode="Streamed" closeTimeout="04:01:00"
     openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00" maxBufferSize="5242880" maxBufferPoolSize="5242880"
                 maxReceivedMessageSize="5242880">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding> 
      </webHttpBinding>

      
      <!--SEGUIRIDAD PARA QUE SOLO FUNCIONE EN EL DOMINIO DE WINDOWS-->
      <basicHttpBinding>
        <!--<binding name="basicBinding">
          <security mode="TransportCredentialOnly">
            <message clientCredentialType="Certificate"/>
          </security>
        </binding>-->

        <binding name="basicBinding">
          <security mode="TransportWithMessageCredential">
            <!--<transport clientCredentialType="Windows" />-->
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </basicHttpBinding>

      <wsHttpBinding>
        <binding name="basicWSBinding">
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
      
      
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="behaviorSoap">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceAuthenticationManager authenticationSchemes="Basic"/>
          <!--<serviceCredentials>
              <userNameAuthentication userNamePasswordValidationMode="Custom"
                     customUserNamePasswordValidatorType="PServicio.App_Code.Authentication.UserNamePassValidator, App_Code/Authentication" />
              <serviceCertificate findValue="ChatServerSide" x509FindType="FindBySubjectName" storeLocation="LocalMachine" storeName="My"/>
           </serviceCredentials>-->
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="EndpBehavior">
          <webHttp/>
          
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
   
    <services>
      <service name="ServicioChat.WebChat" behaviorConfiguration="behaviorSoap" >
        <!--<endpoint address="soap" binding="basicHttpBinding" contract="ServicioChat.IWebChat" bindingConfiguration="basicBinding"></endpoint>-->
        <!--<endpoint address="soap" binding="basicHttpBinding" contract="ServicioChat.IWebChat"></endpoint>-->
        <endpoint address="soap" binding="wsHttpBinding" contract="ServicioChat.IWebChat" bindingConfiguration="basicWSBinding"></endpoint>
        <endpoint address="" binding="webHttpBinding" contract="ServicioChat.IWebChat" behaviorConfiguration="EndpBehavior" bindingConfiguration="webHttpBindingWithJsonP"/>
      </service>
      
      
      
    </services>
    
    
    
    
  </system.serviceModel>
  
  
  
  
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
